# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

# Private Files
*.json
*.csv
*.xlsx
!*package.json
!*firebase.json
!*package-lock.json
!*tsconfig.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*/.venv
*/.buildozer
*/bin
*.db
/bak
icon_selector.py
testing.py
*Zone.Identifier